.portfolio{
    background-color: #f5f5f5;
    .portfolio__tags{
       .tags-item{
           .active{
               color: #fff;
               background-color: #000;
           }
           display: flex;
           li{
                margin-right: 10px;
               a{
                    text-decoration: none;
                    padding: 5px 15px 8px;
                    border: 1px solid #ddd;
                    transition: all 0.3s;
                    color: #000;
                    cursor: pointer;
                }
           }
       } 
    }
    .padding-bottom{
        padding-bottom: 80px;
    }
    .portfolio__items--wrap{
        .portfolio__items{
            .col-3{
                padding: 0;
                img{
                    height: 347px;
                }
            }    
        }
    }
}