.portfolio{
    background-color: #f5f5f5;
    .portfolio__tags{
       .tags-item{
           .active{
               color: #fff;
               background-color: #000;
           }
           display: flex;
           li{
                margin-right: 10px;
               a{
                    text-decoration: none;
                    padding: 5px 15px 8px;
                    border: 1px solid #ddd;
                    transition: all 0.3s;
                    color: #000;
                    cursor: pointer;
                }
           }
       } 
    }
    .padding-bottom{
        padding-bottom: 80px;
    }
    .portfolio__items--wrap{
        .portfolio__items{
            .grid-item {
                padding: 0;
                img{
                    height: 347px;
                }
                .portfolio__hover{
                  
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.7);
                    opacity: 0;
                    transition: all .3s;
                    &:hover{
                        opacity: 1;
                    }
                    .portfolio__hover--wrap{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        height: 100%;
                        h4{
                            font-size: 18px;
                            color: #fff;
                            margin-bottom: 30px;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            top: 30px;
                            bottom: 30px;
                            left: 30px;
                            right: 30px;
                            border: 1px solid rgba(255, 255, 255, 0.312);
                            z-index: -1;
                        }
                        .portfolio__hover--button{
                            i{
                                font-size: 20px;
                                line-height: 30px;
                                color: #fff;
                                cursor: pointer;
                            }
                        }
                        
                    }
                }
                 
            }    
        }
    }
}